<ngx-file-drop (onFileDrop)="onFileDrop($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <button nbButton ghost fullWidth (click)="onOpen(openFileSelector)">Drop files here</button>
    </ng-template>
</ngx-file-drop>

<nb-list>
    <nb-list-item
        class="picture-entry clickable"
        *ngFor="let picture of pictures$ | async"
        (click)="selectPicture.next(picture.id)"
        [class.selected]="selectedPicture === picture.id"
    >
        <div><img [src]="getPictureUrl(picture)" alt="Picture Preview" /></div>
        <div style="text-align: center">{{ picture.originalName }}</div>
        <button
            nbButton
            status="danger"
            size="medium"
            ghost
            (click)="onDelete($event, picture.id)"
            style="position: absolute; top: 50%; right: 8px; transform: translateY(-50%);"
        >
            <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
    </nb-list-item>
</nb-list>

<ngx-file-drop (onFileDrop)="onFileDrop($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <button nbButton ghost fullWidth (click)="onOpen(openFileSelector)">Drop files here</button>
    </ng-template>
</ngx-file-drop>
