<nb-layout>
    <nb-layout-header fixed>
        <div class="section left">
            <nb-actions size="medium">
                <nb-action
                    *ngIf="loggedIn$ | async"
                    (click)="sidebarService.toggle(false, 'left')"
                    icon="menu"
                    title="Toggle Sidebar"
                />
            </nb-actions>
            <div class="title-container">
                <h1>Depot Manager</h1>
                <span class="subtitle">by jdav Freiburg</span>
            </div>
        </div>
        <div class="section right">
            <img src="assets/logo.svg"/>
            <nb-actions size="medium" *ngIf="!(loggedIn$ | async)">
                <nb-action (click)="login()" icon="log-in" title="Log In"/>
            </nb-actions>
        </div>
    </nb-layout-header>
    <nb-sidebar
        tag="left"
        [left]="true"
        [containerFixed]="true"
        [state]="sidebarState"
        [responsive]="true"
    >
        <nb-menu [items]="navigationItems" tag="left"/>
        <div class="sidebar-footer">
            <a
                class="user-info"
                *ngIf="loggedIn$ | async"
                href="https://auth.jdav-freiburg.de/profile"
                target="_blank"
                rel="noopener noreferrer"
            >
                <nb-icon icon="person-outline"></nb-icon>
                <span>{{ name$ | async }}</span>
            </a>
            <button
                nbButton
                fullWidth
                status="danger"
                outline
                *ngIf="loggedIn$ | async"
                routerLink="/logout"
                class="logout-button"
            >
                <nb-icon icon="log-out-outline"></nb-icon>
                Ausloggen
            </button>
        </div>
    </nb-sidebar>
    <nb-layout-column class="no-padding"><router-outlet/></nb-layout-column>
    <nb-layout-footer>
        <span class="footer">
            Powered by <a href="https://angular.io/">Angular</a>,
            <a href="https://akveo.github.io/nebular">Nebular</a> and
            <a href="https://fastapi.tiangolo.com/">FastAPI</a>. &copy; JDAV Freiburg
        </span>
    </nb-layout-footer>
</nb-layout>
